<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tledu.cn.dao.UserDao">
    <insert id="registerUser" parameterType="User">
        insert into exam_user
        values
        (#{u_id},#{acc},#{pwd},#{phone},#{email},#{image},#{is_allow},#{create_time},#{is_delete})
    </insert>

    <select id="selectUser" parameterType="string" resultType="User">
        select * from exam_user where acc=#{acc} and is_delete=0
    </select>

    <select id="userLogin" parameterType="User" resultType="User">
        select * from exam_user where acc=#{acc} and pwd=#{pwd} and is_delete=0 and is_allow=1
    </select>

    <select id="selectUserAccPhone" parameterType="User" resultType="User">
        select * from exam_user where acc=#{acc} and phone=#{phone} and is_delete=0
    </select>

    <update id="changePwd" parameterType="User">
        update exam_user set pwd=#{pwd} where acc=#{acc} and is_delete=0
    </update>

    <update id="upLoadImage" parameterType="User">
        update exam_user set image=#{image} where u_id=#{u_id} and is_delete=0
    </update>

    <select id="selectClassify" parameterType="Classify" resultType="Classify">
        select * from exam_classify where c_name=#{c_name} and u_id=#{u_id} and is_delete=0
    </select>

    <insert id="addClassify" parameterType="Classify">
        insert into exam_classify values (#{c_id},#{c_name},#{u_id},#{creat_time},#{is_delete})
    </insert>

    <delete id="deleteClassify" parameterType="Classify">
        update exam_classify set is_delete=#{is_delete} where c_name=#{c_name} and u_id=#{u_id}
    </delete>

    <select id="getClassifyInfo" parameterType="String" resultType="Classify">
        select * from exam_classify where u_id=#{u_id} and is_delete=0
    </select>

    <select id="selectAnswer" parameterType="Answer" resultType="Answer">
        select * from exam_answer where a_topic=#{a_topic} and u_id=#{u_id} and is_delete=0
    </select>

    <select id="selectClassifyID" parameterType="Answer" resultType="Classify">
        select * from exam_classify where c_name=#{c_name} and u_id=#{u_id}
    </select>

    <insert id="addAnswer" parameterType="Answer">
        insert into exam_answer values (#{a_id},#{type},#{a_topic},#{u_id},#{a_a},#{a_b},#{a_c},#{a_d},#{c_id},#{c_name},#{a_answer},#{a_score},#{a_modify_time},#{is_delete})
    </insert>

    <update id="deleteAnswer" parameterType="Answer">
        update exam_answer set is_delete=#{is_delete} where a_id=#{a_id}
    </update>

    <update id="modifyAnswer" parameterType="Answer">
        update exam_answer set type=#{type} and a_topc=#{a_topic} and a_a=#{a_a} and a_b=#{a_b} and a_c=#{a_c} and a_d=#{a_d} and c_id=#{c_id} and c_name=#{c_name}  and a_answer=#{a_answer} and a_score=#{a_score} and a_modify_time=#{a_modify_time} where a_id=#{a_id} and is_delete=0
    </update>

    <select id="getTopicInfo" resultType="Answer">
        select * from exam_answer order by a_modify_time desc
    </select>

    <select id="getAnswerById" parameterType="string" resultType="Answer">
        select * from exam_answer where a_id=#{a_id}
    </select>
</mapper>